<!-- style="margin-top: -84px;" -->
<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <div class="m-content">
        <div class="row">
            <div class="col-md-12">
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
						<i class="la la-gear"></i>
						</span>
                                <h3 class="m-portlet__head-text">
                                    Approve/Reject Action
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <form class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-2 col-form-label">ID : </label>
                                <div class="col-10">
                                    <input class="form-control m-input" type="text" value="47781-264" disabled id="example-text-input">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-search-input" class="col-2 col-form-label">Full Name : </label>
                                <div class="col-10">
                                    <input class="form-control m-input" type="text" value="Dwanje Martin" disabled id="example-text-input">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-email-input" class="col-2 col-form-label">Address : </label>
                                <div class="col-10">
                                    <input class="form-control m-input" type="text" value="Maxy Street" disabled id="example-text-input">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-url-input" class="col-2 col-form-label">Country : </label>
                                <div class="col-10">
                                    <input class="form-control m-input" type="text" value="Mauritius" disabled id="example-text-input">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-tel-input" class="col-2 col-form-label">Telephone : </label>
                                <div class="col-10">
                                    <input class="form-control m-input" type="text" value="9899898989" disabled id="example-text-input">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-password-input" class="col-2 col-form-label">Issue Date : </label>
                                <div class="col-10">
                                    <input class="form-control m-input" type="text" value="21/07/2018" disabled id="example-text-input">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-password-input" class="col-2 col-form-label">Comments: </label>
                                <div class="col-10">
                                    <textarea class="form-control m-input" id="example-text-input1"></textarea>
                                </div>
                            </div>
                            
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">
                                <div class="row">
                                    <div class="col-2">
                                    </div>
                                    <div class="col-10">
                                        <button type="button" class="btn btn-success" style="margin-right:5px;">Approve</button>
                                        <button type="button" class="btn btn-info" style="margin-right:5px;">Reject</button>
                                        <button type="button" (click)="onBack()" class="btn btn-danger">Back</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>