<div class="bot-nav">
    <div class="cont1580">
        <div class="cnWrapper">
            <div class="cnleft" data-aos="fade-right">
                <div class="Text" data-aos="fade-left">Job<strong> Details</strong></div>
            </div>
        </div>
    </div>
</div>

<!-- core -->
<div class="core">

    <div class="section job-offers">
        <div class="cont1580">
            <div class="cnWrapper cf">
                <div class="intro">
                    Check out the vacancies currently being advertised within the group.<br />
                    Feel free to apply or share with a friend.
                </div>
            </div>
        </div>
    </div>

    <div class="section section-training bg-white ">
        <div class="cont1580">
            <div class="cnWrapper cf">
                <div class="block-training">
                    <div class="cnDesc">
                        <div class="head-title">{{jobDetails.Company?jobDetails.Company:'N/A'}}</div>
                        <div class="name">{{jobDetails.Title?jobDetails.Title:'N/A'}}</div>
                        <div class="date"> <span class="fa fa-calendar"></span>
                            Valid till {{jobDetails.ExpiryDate | date:'longDate'}}
                        </div>
                        <div class="text">{{jobDetails.JobDescription?jobDetails.JobDescription:'N/A'}}</div>
                        <div class="desc">&nbsp;{{jobDetails.Note?jobDetails.Note:'N/A'}}</div>
                        <div class="more" *ngFor="let attachment of jobDetails.AttachmentFiles.results">
                            <a href="attachment.ServerRelativeUrl" style="color:#59c2cc"><span class="icn"></span>{{attachment.Name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- core -->

<script>
    AOS.init({
        once: true
    });
</script>
<script type="text/javascript">
    $('.slider-text').slick({
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        vertical: true,
        verticalSwiping: true,
        autoplay: true,
        autoplaySpeed: 3000,
    });       
</script>