<div id="page">
    <div class="sticky-footer">
        <!-- Header -->
        <!-- Desktop only -->
        <header class="Desktop">
            <div class="top-nav">
                <div class="cont1580">
                    <div class="cnWrapper">
                        <div class="cnleft">
                            <!-- <div class="slider-text" *ngIf="announcementList">
                                <div class="box" *ngFor="let announce of announcementList">
                                    <strong>{{announce.Expires | date : 'dd.MM.yyyy'}}</strong> {{announce.Title}}
                                </div>
                            </div> -->
                            <marquee behavior="scroll" direction="up" style="height:44px;" scrollamount="1">
                                <div class="box" *ngFor="let announce of announcementList">
                                    <strong style="color: #0A2C6C;margin-right: 5px;font-weight: 700;">{{announce.Expires | date : 'dd.MM.yyyy'}}</strong> {{announce.Title}}
                                </div>
                            </marquee>
                        </div>
                        <div class="cnright">
                                <div class="search" (click)="onSearch()">
                                     Search this site <span class="fa fa-search"></span>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigagtion">
                <div class="cont1580">
                    <div class="cnWrapper">
                        <div class="left">
                            <div class="logo" data-aos="zoom-in"><a href=""><img src="{{url}}/SiteAssets/HomeAssets/assets/img/icn-logo/IBL-logo.png" class="img-responsive" alt="" /></a></div>
                        </div>
                        <div class="mid">
                            <nav>
                                <div class="nav">
                                    <ul>
                                        <li><a (click)="onNavbarClick('dashboard')">Home</a></li>
                                        <li><a (click)="onNavbarClick('newslist')">News</a></li>
                                        <li><a href="">HC Corner</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="right">
                            <div class="profile-name">
                                <div class="cninner">
                                    Hi!<strong id="name"> {{loggedInUser}}</strong> | <strong class="roll">MY Team <span class="fa fa-angle-down"></span></strong>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- mobile only -->
        <header class="Mobile">
            <div class="top-header">
                <div class="logo">
                    <a href="">
                            <img src="{{url}}/SiteAssets/HomeAssets/assets/img/icn-logo/IBL-logo.png" class="img-responsive" alt="" />
                        </a>
                </div>
                <!--  menu -->
                <a href=# class="Hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                <nav>
                    <div class="profile-name">
                        <div class="cninner">
                            Hi!<strong id="name"> {{loggedInUser}}</strong> | <strong class="roll">MY Team <span class="fa fa-angle-down"></span></strong>
                        </div>
                    </div>
                    <div class="nav">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">News</a></li>
                            <li><a href="">HC Corner</a></li>
                        </ul>
                    </div>
                </nav>

                <!--  notification -->
                <a href=# class="notification"><span></span></a>
                <div class="notification-container">
                    <div class="cnInner">
                        <div class="title">Latest notification</div>
                        <div class="box" *ngFor="let announce of announcementList">
                            <strong>{{announce.Expires | date : 'dd.MM.yyyy'}}</strong> {{announce.Title}}
                        </div>
                    </div>
                    <div class="cnleft">
                        <div class="cnIcn">
                            <span> <img src="{{url}}/SiteAssets/HomeAssets/assets/img/icn-logo/cake.png" alt="cake" /> </span>
                        </div>
                        <div class="cnText">
                            <div class="top-section">
                                Birthdays today!
                                <div class="overlay"><img src="{{url}}/SiteAssets/HomeAssets/assets/img/icn-logo/test.png"
                                        alt="test" /></div>
                            </div>
                            <div class="bot-section">
                                <div id="demo" class="carousel slide" data-ride="carousel">

                                    <!-- Indicators -->
                                    <ul class="carousel-indicators">
                                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                                        <li data-target="#demo" data-slide-to="1"></li>
                                        <li data-target="#demo" data-slide-to="2"></li>
                                    </ul>

                                    <!-- The slideshow -->
                                    <div class="carousel-inner">
                                        <div *ngFor="let announce of announcementList" class="carousel-item {{announce.class}}">
                                            <div class="box">
                                                <div class="name">David Hasselhoff</div>
                                                <div class="info">{{announce.Expires | date : 'dd.MM.yyyy'}} | <a href="#"> Send Wish <span class="fa fa-angle-right"></span> </a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="search">
                    <span class="fa fa-search"></span>
                </div>
            </div>

        </header>

        <!-- Main Page -->
        <router-outlet></router-outlet>

    </div>
    <!-- Footer -->
    <footer style="margin-bottom:-57px;">
        <div class="footer-top">
            <div class="cont1580">
                <div class="footer-wrapper cf">
                    <div class="text-left">
                        <ul>
                            <li>Stay Connected</li>
                            <li data-aos="zoom-in"><a href=""><span class="fa fa-linkedin"></span></a></li>
                            <li data-aos="zoom-in"><a href=""><span class="fa fa-facebook-f"></span></a></li>
                            <li data-aos="zoom-in"><a href=""><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                    <div class="text-right"><a>Visit IBL website <span class="fa fa-angle-right"></span></a></div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="cont1580">
                <div class="footer-wrapper cf">
                    <div class="text-left">
                        <ul>
                            <li>Copyright 2018 by IBL Together.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>