<div>
    <!-- header -->
    <!-- <header>
        <div class="my-navbar-button">
            <div id="mynav-item">Ministries</div>
            <div id="mynav-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>
        <div class="top-nav-container">
            <a href="#">
                <span class="egov-button">
                    <span class="text">ACCESS&nbsp;&nbsp;
                        <strong>MyGOV</strong>
                    </span>
                    <span class="icon"></span>
                </span>
            </a>
            <ul class="header-utility-links">
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
            <div class="font-increase-utility">
                <button class="increaseFont" value="increase"> A+ </button>
                <button class="decreaseFont" value="decrease"> A- </button>
            </div>
        </div>

        <div class="bottom-nav-container">
            <span class="logo"></span>

            <a href="#">
                <span class="btn-momoris">
                    <span class="txt1">MoMoris</span>
                </span>
            </a>

            <nav id="nav">
                <ul>
                    <li>
                        <a aria-haspopup="true">About Mauritius
                            <span>
                                <i class="fa fa-caret-down"></i>
                            </span>
                        </a>
                        <ul class="drop2">
                            <div class="sub-box">
                                <li>
                                    <a href="#">History</a>
                                </li>
                                <li>
                                    <a href="#">The Dodo</a>
                                </li>
                                <li>
                                    <a href="#">Culture</a>
                                </li>
                                <li>
                                    <a href="#">Culture</a>
                                </li>
                                <li>
                                    <a href="#">Geography and People</a>
                                </li>
                                <li>
                                    <a href="#">National Symbols</a>
                                </li>
                            </div>
                        </ul>
                    </li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li>
                        <a href="#">Events</a>
                    </li>
                    <li>
                        <a aria-haspopup="true">Digital Government
                            <span>
                                <i class="fa fa-caret-down"></i>
                            </span>
                        </a>
                        <ul class="drop2">
                            <div class="sub-box">
                                <li>
                                    <a href="#">E-govt Initiatives</a>
                                </li>
                                <li>
                                    <a href="#">E-Payment</a>
                                </li>
                                <li>
                                    <a href="#">E-Procurement</a>
                                </li>
                                <li>
                                    <a href="#">E-Services</a>
                                </li>
                                <li>
                                    <a href="#">Mobile Apps</a>
                                </li>
                            </div>
                        </ul>

                    </li>
                    <li>
                        <a aria-haspopup="true">Information &amp; Services
                            <span>
                                <i class="fa fa-caret-down"></i>
                            </span>
                        </a>
                        <ul>
                            <div class="sub-box">
                                <li>
                                    <a href="#">AGRICULTURE</a>
                                </li>
                                <li>
                                    <a href="#">ARTS &amp; CULTURE</a>
                                </li>
                                <li>
                                    <a href="#">BUSINESS &amp; INDUSTRY</a>
                                </li>
                                <li>
                                    <a href="#">COMMUNICATION &amp; INNOVATION</a>
                                </li>
                            </div>
                            <div class="sub-box">
                                <li>
                                    <a href="#">EDUCATION AND TRAINING</a>
                                </li>
                                <li>
                                    <a href="#">ENVIRONMENTAL &amp; WASTE MANAGEMENT</a>
                                </li>
                                <li>
                                    <a href="#">FAMILY &amp; CONSUMER PROTECTION</a>
                                </li>
                                <li>
                                    <a href="#">FINANCE &amp; TAXES</a>
                                </li>
                            </div>
                            <div class="sub-box">
                                <li>
                                    <a href="#">GOVERNANCE &amp; ADMINISTRATION</a>
                                </li>
                                <li>
                                    <a href="#">HEALTH AND MEDICAL SERVICES</a>
                                </li>
                                <li>
                                    <a href="#">HOUSING</a>
                                </li>
                                <li>
                                    <a href="#">JOBS &amp; WORKSPACE</a>
                                </li>
                            </div>
                            <div class="sub-box">
                                <li>
                                    <a href="#">JUSTICE &amp; DEFENCE</a>
                                </li>
                                <li>
                                    <a href="#">SPORTS &amp; LEISURE</a>
                                </li>
                                <li>
                                    <a href="#">TRANSPORT</a>
                                </li>
                                <li>
                                    <a href="#">TRAVEL &amp; TOURISM</a>
                                </li>
                            </div>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About Rodrigues</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header> -->
    <!-- end header -->

    <!-- Start site wrapper-->
    <div class="gov-site-wrapper">
        <!-- Start site container-->
        <div class="gov-site-container">
            <div class="gov-site-home-banner-container inner-banner">
                <!-- 290 -->
                <div class="home-overlay-banner-content">
                    <h1></h1>

                </div>
            </div>

            <!-- Content Container -->
            <div class="content-container">
                <router-outlet></router-outlet>
            </div>
            <!-- End  Content Container-->

        </div>
        <!-- End site container-->

        <!-- External-menu -->
        <div class="menu-container">
            <strong style="color: white">LIST OF MINISTRIES</strong>
        </div>
        <!-- External-menu -->
    </div>
    <!-- End site wrapper-->


    <!-- FOOTER -->
    <footer class="foot">
        <div class="bottom-footer-cn">
            <div class="bottom-menu">
                <ul>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="#">Feedback</a>
                    </li>
                    <li>
                        <a href="#">Disclaimer</a>
                    </li>
                    <li>
                        <a href="#">Map</a>
                    </li>
                    <li>
                        <a href="#">Copyright Notice</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Site Map</a>
                    </li>
                </ul>
            </div>
            <div class="copyright">&copy; Government of Mauritius 2017. All rights reserved. Hosted by National Computer Board.</div>
        </div>

    </footer>
    <!-- END FOOTER -->
</div>