<div id="page">
    <div class="sticky-footer">
        <!-- Header -->
        <!-- Desktop only -->
        <header class="Desktop">
            <div class="top-nav">
                <div class="cont1580">
                    <div class="cnWrapper">
                        <div class="cnleft">
                            <div class="slider-text">
                                <div class="box">
                                    <strong>18.05.2018</strong> The abridged unaudited financial statements of IBL Ltd for
                                    the period ended 30 September 2017
                                </div>
                                <div class="box">
                                    <strong>19.05.2018</strong> Lorem ipsum dolor amet distillery offal next level plaid
                                    hella sartorial cliche keytar williamsburg pitchfork.
                                </div>
                                <div class="box">
                                    <strong>20.05.2018</strong> Tacos aesthetic hammock meditation brooklyn, tbh portland
                                    banjo
                                </div>
                            </div>
                        </div>
                        <div class="cnright">
                            <div class="search">
                                Search this site <span class="fa fa-search"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigagtion">
                <div class="cont1580">
                    <div class="cnWrapper">
                        <div class="left">
                            <div class="logo" data-aos="zoom-in"><a href=""><img src="../assets/img/icn-logo/IBL-logo.png" class="img-responsive" alt="" /></a></div>
                        </div>
                        <div class="mid">
                            <nav>
                                <div class="nav">
                                    <ul>
                                        <li><a href="">Home</a></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="">HC Corner</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="right">
                            <div class="profile-name">
                                <div class="cninner">
                                    Hi!<strong id="name"> Samuel</strong> | <strong class="roll">MY Team <span class="fa fa-angle-down"></span></strong>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- mobile only -->
        <header class="Mobile">
            <div class="top-header">
                <div class="logo">
                    <a href="">
                            <img src="../assets/img/icn-logo/IBL-logo.png" class="img-responsive" alt="" />
                        </a>
                </div>
                <!--  menu -->
                <a href=# class="Hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                <nav>
                    <div class="profile-name">
                        <div class="cninner">
                            Hi!<strong id="name"> Samuel</strong> | <strong class="roll">MY Team <span class="fa fa-angle-down"></span></strong>
                        </div>
                    </div>
                    <div class="nav">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">News</a></li>
                            <li><a href="">HC Corner</a></li>
                        </ul>
                    </div>
                </nav>

                <!--  notification -->
                <a href=# class="notification"><span></span></a>
                <div class="notification-container">
                    <div class="cnInner">
                        <div class="title">Latest notification</div>
                        <div class="box">
                            <strong>18.05.2018</strong> The abridged unaudited financial statements of IBL Ltd for the period
                            ended 30 September 2017
                        </div>
                        <div class="box">
                            <strong>19.05.2018</strong> Lorem ipsum dolor amet distillery offal next level plaid hella sartorial
                            cliche keytar williamsburg pitchfork.
                        </div>
                    </div>
                    <div class="cnleft">
                        <div class="cnIcn">
                            <span> <img src="../assets/img/icn-logo/cake.png" alt="cake" /> </span>
                        </div>
                        <div class="cnText">
                            <div class="top-section">
                                Birthdays today!
                                <div class="overlay"><img src="../assets/img/icn-logo/test.png" alt="test" /></div>
                            </div>
                            <div class="bot-section">
                                <div class="slider-wish">
                                    <div class="box">
                                        <div class="name">David Hasselhoff</div>
                                        <div class="info">Admin Department | <a href="#"> Send Wish <span class="fa fa-angle-right"></span> </a></div>
                                    </div>
                                    <div class="box">
                                        <div class="name">Jean Eric</div>
                                        <div class="info">IT Department | <a href="#"> Send Wish <span class="fa fa-angle-right"></span></a></div>
                                    </div>
                                    <div class="box">
                                        <div class="name">John kayn</div>
                                        <div class="info">Acc Department | <a href="#"> Send Wish <span class="fa fa-angle-right"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="search">
                    <span class="fa fa-search"></span>
                </div>
            </div>

        </header>

        <div class="bot-nav">
            <div class="cont1580">
                <div class="cnWrapper">
                    <div class="cnleft" data-aos="fade-right">
                        <div class="cnIcn">
                            <span> <img src="../assets/img/icn-logo/cake.png" alt="cake"/> </span>
                        </div>
                        <div class="cnText">
                            <div class="top-section">
                                Birthdays today!
                                <div class="overlay"><img src="../assets/img/icn-logo/test.png" alt="test" /></div>
                            </div>
                            <div class="bot-section">
                                <div class="slider-wish">
                                    <div class="box">
                                        <div class="name">David Hasselhoff</div>
                                        <div class="info">Admin Department | <a href="#"> Send Wish <span class="fa fa-angle-right"></span> </a></div>
                                    </div>
                                    <div class="box">
                                        <div class="name">Jean Eric</div>
                                        <div class="info">IT Department | <a href="#"> Send Wish <span class="fa fa-angle-right"></span></a></div>
                                    </div>
                                    <div class="box">
                                        <div class="name">John kayn</div>
                                        <div class="info">Acc Department | <a href="#"> Send Wish <span class="fa fa-angle-right"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cnright">
                        <div class="Text" data-aos="fade-left">Everyday<strong> together.</strong></div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Main Page -->
        <router-outlet></router-outlet>

    </div>
    <!-- Footer -->
    <footer>
        <div class="footer-top">
            <div class="cont1580">
                <div class="footer-wrapper cf">
                    <div class="text-left">
                        <ul>
                            <li>Stay Connected</li>
                            <li data-aos="zoom-in"><a href=""><span class="fa fa-linkedin"></span></a></li>
                            <li data-aos="zoom-in"><a href=""><span class="fa fa-facebook-f"></span></a></li>
                            <li data-aos="zoom-in"><a href=""><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                    <div class="text-right"><a>Visit IBL website <span class="fa fa-angle-right"></span></a></div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="cont1580">
                <div class="footer-wrapper cf">
                    <div class="text-left">
                        <ul>
                            <li>Copyright 2018 by IBL Together.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>