<!-- style="margin-top: -84px;" -->
<div class="m-grid__item m-grid__item--fluid m-wrapper prod">
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text heading">
                            <strong class={{action}}>{{service}} {{action}} requests</strong>
                        </h3>
                    </div>
                </div>
                <div>
                    <a routerLink="dashboard" class="btn btn-danger pull-right" style="margin-top:15px;">Back</a>
                </div>
            </div>
            <div class="m-portlet__body" style="font-size:14px;">
                <!-- BEGIN :: Dynamic table structure-->
                <p-table #srv [value]="data" [paginator]="true" [rows]="15" [globalFilterFields]="['SID','NIC','FirstName','MobileNumber','Address','CountryOfResidence']">
                    <ng-template pTemplate="caption">
                        <!-- <div class="ui-helper-clearfix">
                            <input type="button" class="btn btn-info m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill" value="Export" text="Export"
                                (click)="export()" />
                        </div> -->
                        <div style="text-align: right">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="50" placeholder=" Search..." class="ui-inputtext ui-corner-all ui-state-default ui-widget"
                                (input)="srv.filterGlobal($event.target.value, 'contains')" style="width:auto;margin-right: 4pt">
                            <a (click)="export()" pTooltip="Export List" tooltipPosition="top" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
                                <i class="fa fa-share-square"></i>
                            </a>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-requestCol>
                        <tr>
                            <th [pSortableColumn]="'SID'">SID
                                <p-sortIcon [field]="'SID'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'NIC'">NIC
                                <p-sortIcon [field]="'NIC'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'FirstName'">Full Name
                                <p-sortIcon [field]="'FirstName'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'MobileNumber'">Mobile No
                                <p-sortIcon [field]="'MobileNumber'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'Address'">Address
                                <p-sortIcon [field]="'Address'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'CountryOfResidence'">Country
                                <p-sortIcon [field]="'CountryOfResidence'"></p-sortIcon>
                            </th>
                            <th style="width: 65px;" *ngIf="action === 'Pending'">Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-request>
                        <tr class="tblrow">
                            <td style="display: none;">{{request.ID}}</td>
                            <td>{{request.SID}}</td>
                            <td>{{request.NIC}}</td>
                            <td>{{request.FirstName}} {{request.FamilyName}}</td>
                            <td>{{request.MobileNumber}}</td>
                            <td>{{request.Address}}</td>
                            <td>{{request.CountryOfResidence}}</td>
                            <td *ngIf="action === 'Pending'">
                                <button class="btn btn-info btn-sm m-btn--pill" (click)="onUpdateRequest(request.ID)">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <!-- END :: Dynamic table structure-->
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>