<!-- prod -->
<div class="m-grid__item m-grid__item--fluid m-wrapper prod">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title">Dashboard for Public Service</h3>
            </div>
            <div>
                <span class="m-subheader__desc" id="m_dashboard_daterangepicker">
                    <span class="m-subheader__daterange-label">
                        <span class="">Current Quarter :</span>
                        <span class=""> {{quarter}}</span>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div *ngFor="let item of data">
        <!--BEGIN : Dashboard Component-->
        <app-service-dashboard [ServiceInfo]="item"></app-service-dashboard>
        <!-- <hr/> -->
        <!--END : Dashboard Component-->
    </div>
    <h2>
        <p-message *ngIf="NoDataMsg" severity="info" text="You are not authorized for any service! Please contact admin."></p-message>
    </h2>
</div>