<!-- style="margin-top: -84px;" -->
<div class="m-grid__item m-grid__item--fluid m-wrapper" >

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">Dashboard1</h3>
            </div>
            <div>
                <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
					<span class="m-subheader__daterange-label">
						<span class="m-subheader__daterange-title">Today:</span>
                <span class="m-subheader__daterange-date m--font-brand">Jul 17</span>
                </span>
                <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
						<i class="fa fa-angle-down"></i>
					</a>
                </span>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:15px;">
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6">
            <!--begin:: Widgets/Blog-->
            <div class="m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
                <div class="m-portlet__head m-portlet__head--fit-">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div class="col">
                                <h3>Transport</h3>
                            </div>
                            <!-- <div class="col m--align-right">
                                        <div class="btn-group m-btn-group btn-group-sm" role="group" aria-label="...">
                                            <button type="button" class="btn btn-accent">Pending</button>
                                            <button type="button" class="btn btn-warning">Approved</button>
                                            <button type="button" class="btn btn-brand">Rejected</button>
                                        </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget27 m-portlet-fit--sides">
                        <div class="m-widget27__container">

                            <!-- begin::Tab Content -->
                            <div class="m-widget27__tab tab-content m-widget27--no-padding">
                                <div id="m_personal_income_quater_1" class="tab-pane active">
                                    <div class="row  align-items-center">
                                        <div class="col">
                                            <div id="m_chart_personal_income_quater_1" class="m-widget27__chart" style="height: 160px">
                                                
                                                <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-donut" style="width: 100%; height: 100%;">
                                                    <g class="ct-series custom">
                                                        <path d="M95.884,98.415A43.25,43.25,0,0,0,56.75,36.75" class="ct-slice-donut" ct:value="32" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#00c5dc&amp;quot;}}"
                                                            style="stroke-width: 17px;" stroke-dasharray="86.96046447753906px 86.96046447753906px"
                                                            stroke-dashoffset="-86.96046447753906px" stroke="#00c5dc">
                                                            <animate attributeName="stroke-dashoffset" id="anim0" dur="1000ms" from="-86.96046447753906px" to="0px" fill="freeze" stroke="#00c5dc"
                                                                calcMode="spline" keySplines="0.23 1 0.32 1" keyTimes="0;1"></animate>
                                                        </path>
                                                    </g>
                                                    <g class="ct-series custom">
                                                        <path d="M23.425,107.569A43.25,43.25,0,0,0,95.948,98.278" class="ct-slice-donut" ct:value="32" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#ffb822&amp;quot;}}"
                                                            style="stroke-width: 17px;" stroke-dasharray="87.1122055053711px 87.1122055053711px"
                                                            stroke-dashoffset="-87.1122055053711px" stroke="#ffb822">
                                                            <animate attributeName="stroke-dashoffset" id="anim1" dur="1000ms" from="-87.1122055053711px" to="0px" fill="freeze" stroke="#ffb822"
                                                                begin="anim0.end" calcMode="spline" keySplines="0.23 1 0.32 1"
                                                                keyTimes="0;1"></animate>
                                                        </path>
                                                    </g>
                                                    <g class="ct-series custom">
                                                        <path d="M56.75,36.75A43.25,43.25,0,0,0,23.522,107.685" class="ct-slice-donut" ct:value="36" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#716aca&amp;quot;}}"
                                                            style="stroke-width: 17px;" stroke-dasharray="97.98243713378906px 97.98243713378906px"
                                                            stroke-dashoffset="-97.98243713378906px" stroke="#716aca">
                                                            <animate attributeName="stroke-dashoffset" id="anim2" dur="1000ms" from="-97.98243713378906px" to="0px" fill="freeze" stroke="#716aca"
                                                                begin="anim1.end" calcMode="spline" keySplines="0.23 1 0.32 1"
                                                                keyTimes="0;1"></animate>
                                                        </path>
                                                    </g>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="m-widget27__legends">
                                                <div class="m-widget27__legend">
                                                    <span class="m-widget27__legend-bullet m--bg-accent"></span>
                                                    <span class="m-widget27__legend-text"><a href="#" (click)="onService('Trasport','Pending',$event)"><h6> 37% Pending </h6></a></span>
                                                </div>
                                                <div class="m-widget27__legend">
                                                    <span class="m-widget27__legend-bullet m--bg-warning"></span>
                                                    <span class="m-widget27__legend-text"><a href="#" (click)="onService('Trasport','Approved',$event)"><h6> 42% Approved </h6></a></span>
                                                </div>
                                                <div class="m-widget27__legend">
                                                    <span class="m-widget27__legend-bullet m--bg-brand"></span>
                                                    <span class="m-widget27__legend-text"><a href="#" (click)="onService('Trasport','Rejected',$event)"><h6> 19% Rejected </h6></a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end::Tab Content -->
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->


        </div>

        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6">
            <!--begin:: Widgets/Blog-->
            <div class="m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
                <div class="m-portlet__head m-portlet__head--fit-">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div class="col">
                                <h3>Passport</h3>
                            </div>
                            <!-- <div class="col m--align-right">
                                        <div class="btn-group m-btn-group btn-group-sm" role="group" aria-label="...">
                                            <button type="button" class="btn btn-accent">Pending</button>
                                            <button type="button" class="btn btn-warning">Approved</button>
                                            <button type="button" class="btn btn-brand">Rejected</button>
                                        </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget27 m-portlet-fit--sides">
                        <div class="m-widget27__container">

                            <!-- begin::Tab Content -->
                            <div class="m-widget27__tab tab-content m-widget27--no-padding">
                                <div id="m_personal_income_quater_2" class="tab-pane active">
                                    <div class="row  align-items-center">
                                        <div class="col">
                                            <div id="m_chart_personal_income_quater_2" class="m-widget27__chart" style="height: 160px">
                                                
                                                <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-donut" style="width: 100%; height: 100%;">
                                                    <g class="ct-series custom">
                                                        <path d="M95.884,98.415A43.25,43.25,0,0,0,56.75,36.75" class="ct-slice-donut" ct:value="32" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#00c5dc&amp;quot;}}"
                                                            style="stroke-width: 17px;" stroke-dasharray="86.96046447753906px 86.96046447753906px"
                                                            stroke-dashoffset="-86.96046447753906px" stroke="#00c5dc">
                                                            <animate attributeName="stroke-dashoffset" id="anim0" dur="1000ms" from="-86.96046447753906px" to="0px" fill="freeze" stroke="#00c5dc"
                                                                calcMode="spline" keySplines="0.23 1 0.32 1" keyTimes="0;1"></animate>
                                                        </path>
                                                    </g>
                                                    <g class="ct-series custom">
                                                        <path d="M23.425,107.569A43.25,43.25,0,0,0,95.948,98.278" class="ct-slice-donut" ct:value="32" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#ffb822&amp;quot;}}"
                                                            style="stroke-width: 17px;" stroke-dasharray="87.1122055053711px 87.1122055053711px"
                                                            stroke-dashoffset="-87.1122055053711px" stroke="#ffb822">
                                                            <animate attributeName="stroke-dashoffset" id="anim1" dur="1000ms" from="-87.1122055053711px" to="0px" fill="freeze" stroke="#ffb822"
                                                                begin="anim0.end" calcMode="spline" keySplines="0.23 1 0.32 1"
                                                                keyTimes="0;1"></animate>
                                                        </path>
                                                    </g>
                                                    <g class="ct-series custom">
                                                        <path d="M56.75,36.75A43.25,43.25,0,0,0,23.522,107.685" class="ct-slice-donut" ct:value="36" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#716aca&amp;quot;}}"
                                                            style="stroke-width: 17px;" stroke-dasharray="97.98243713378906px 97.98243713378906px"
                                                            stroke-dashoffset="-97.98243713378906px" stroke="#716aca">
                                                            <animate attributeName="stroke-dashoffset" id="anim2" dur="1000ms" from="-97.98243713378906px" to="0px" fill="freeze" stroke="#716aca"
                                                                begin="anim1.end" calcMode="spline" keySplines="0.23 1 0.32 1"
                                                                keyTimes="0;1"></animate>
                                                        </path>
                                                    </g>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="m-widget27__legends">
                                                <div class="m-widget27__legend">
                                                    <span class="m-widget27__legend-bullet m--bg-accent"></span>
                                                    <span class="m-widget27__legend-text"><a href="#" (click)="onService('Passport','Pending',$event)"><h6> 37% Pending </h6></a></span>
                                                </div>
                                                <div class="m-widget27__legend">
                                                    <span class="m-widget27__legend-bullet m--bg-warning"></span>
                                                    <span class="m-widget27__legend-text"><a href="#" (click)="onService('Passport','Approved',$event)"><h6> 42% Approved </h6></a></span>
                                                </div>
                                                <div class="m-widget27__legend">
                                                    <span class="m-widget27__legend-bullet m--bg-brand"></span>
                                                    <span class="m-widget27__legend-text"><a href="#" (click)="onService('Passport','Rejected',$event)"><h6> 19% Rejected </h6></a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end::Tab Content -->
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->


        </div>

        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6">
            <!--begin:: Widgets/Blog-->
            <div class="m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
                <div class="m-portlet__head m-portlet__head--fit-">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div class="col">
                                <h3>Driving Licence</h3>
                            </div>
                            <!-- <div class="col m--align-right">
                                        <div class="btn-group m-btn-group btn-group-sm" role="group" aria-label="...">
                                            <button type="button" class="btn btn-accent">Pending</button>
                                            <button type="button" class="btn btn-warning">Approved</button>
                                            <button type="button" class="btn btn-brand">Rejected</button>
                                        </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget27 m-portlet-fit--sides">
                        <div class="m-widget27__container">

                            <!-- begin::Tab Content -->
                            <div class="m-widget27__tab tab-content m-widget27--no-padding">
                                <div id="m_personal_income_quater_1" class="tab-pane active">
                                    <div class="row  align-items-center">
                                        <div class="col">
                                            <div id="m_chart_personal_income_quater_1" class="m-widget27__chart" style="height: 160px">
                                                
                                                <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-donut" style="width: 100%; height: 100%;">
                                                    <g class="ct-series custom">
                                                        <path d="M95.884,98.415A43.25,43.25,0,0,0,56.75,36.75" class="ct-slice-donut" ct:value="32" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#00c5dc&amp;quot;}}"
                                                            style="stroke-width: 17px;" stroke-dasharray="86.96046447753906px 86.96046447753906px"
                                                            stroke-dashoffset="-86.96046447753906px" stroke="#00c5dc">
                                                            <animate attributeName="stroke-dashoffset" id="anim0" dur="1000ms" from="-86.96046447753906px" to="0px" fill="freeze" stroke="#00c5dc"
                                                                calcMode="spline" keySplines="0.23 1 0.32 1" keyTimes="0;1"></animate>
                                                        </path>
                                                    </g>
                                                    <g class="ct-series custom">
                                                        <path d="M23.425,107.569A43.25,43.25,0,0,0,95.948,98.278" class="ct-slice-donut" ct:value="32" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#ffb822&amp;quot;}}"
                                                            style="stroke-width: 17px;" stroke-dasharray="87.1122055053711px 87.1122055053711px"
                                                            stroke-dashoffset="-87.1122055053711px" stroke="#ffb822">
                                                            <animate attributeName="stroke-dashoffset" id="anim1" dur="1000ms" from="-87.1122055053711px" to="0px" fill="freeze" stroke="#ffb822"
                                                                begin="anim0.end" calcMode="spline" keySplines="0.23 1 0.32 1"
                                                                keyTimes="0;1"></animate>
                                                        </path>
                                                    </g>
                                                    <g class="ct-series custom">
                                                        <path d="M56.75,36.75A43.25,43.25,0,0,0,23.522,107.685" class="ct-slice-donut" ct:value="36" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#716aca&amp;quot;}}"
                                                            style="stroke-width: 17px;" stroke-dasharray="97.98243713378906px 97.98243713378906px"
                                                            stroke-dashoffset="-97.98243713378906px" stroke="#716aca">
                                                            <animate attributeName="stroke-dashoffset" id="anim2" dur="1000ms" from="-97.98243713378906px" to="0px" fill="freeze" stroke="#716aca"
                                                                begin="anim1.end" calcMode="spline" keySplines="0.23 1 0.32 1"
                                                                keyTimes="0;1"></animate>
                                                        </path>
                                                    </g>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="m-widget27__legends">
                                                <div class="m-widget27__legend">
                                                    <span class="m-widget27__legend-bullet m--bg-accent"></span>
                                                    <span class="m-widget27__legend-text"><a href="#" (click)="onService('Driving Licence','Pending',$event)"><h6> 37% Pending </h6></a></span>
                                                </div>
                                                <div class="m-widget27__legend">
                                                    <span class="m-widget27__legend-bullet m--bg-warning"></span>
                                                    <span class="m-widget27__legend-text"><a href="#" (click)="onService('Driving Licence','Approved',$event)"><h6> 42% Approved </h6></a></span>
                                                </div>
                                                <div class="m-widget27__legend">
                                                    <span class="m-widget27__legend-bullet m--bg-brand"></span>
                                                    <span class="m-widget27__legend-text"><a href="#" (click)="onService('Driving Licence','Rejected',$event)"><h6> 19% Rejected </h6></a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end::Tab Content -->
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->


        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6">
            <!--begin:: Widgets/Blog-->
            <div class="m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
                <div class="m-portlet__head m-portlet__head--fit-">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div class="col">
                                <h3>Business</h3>
                            </div>
                            <!-- <div class="col m--align-right">
                                        <div class="btn-group m-btn-group btn-group-sm" role="group" aria-label="...">
                                            <button type="button" class="btn btn-accent">Pending</button>
                                            <button type="button" class="btn btn-warning">Approved</button>
                                            <button type="button" class="btn btn-brand">Rejected</button>
                                        </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget27 m-portlet-fit--sides">
                        <div class="m-widget27__container">

                            <!-- begin::Tab Content -->
                            <div class="m-widget27__tab tab-content m-widget27--no-padding">
                                <div id="m_personal_income_quater_1" class="tab-pane active">
                                    <div class="row  align-items-center">
                                        <div class="col">
                                            <div id="m_chart_personal_income_quater_1" class="m-widget27__chart" style="height: 160px">
                                                
                                                <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-donut" style="width: 100%; height: 100%;">
                                                    <g class="ct-series custom">
                                                        <path d="M95.884,98.415A43.25,43.25,0,0,0,56.75,36.75" class="ct-slice-donut" ct:value="32" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#00c5dc&amp;quot;}}"
                                                            style="stroke-width: 17px;" stroke-dasharray="86.96046447753906px 86.96046447753906px"
                                                            stroke-dashoffset="-86.96046447753906px" stroke="#00c5dc">
                                                            <animate attributeName="stroke-dashoffset" id="anim0" dur="1000ms" from="-86.96046447753906px" to="0px" fill="freeze" stroke="#00c5dc"
                                                                calcMode="spline" keySplines="0.23 1 0.32 1" keyTimes="0;1"></animate>
                                                        </path>
                                                    </g>
                                                    <g class="ct-series custom">
                                                        <path d="M23.425,107.569A43.25,43.25,0,0,0,95.948,98.278" class="ct-slice-donut" ct:value="32" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#ffb822&amp;quot;}}"
                                                            style="stroke-width: 17px;" stroke-dasharray="87.1122055053711px 87.1122055053711px"
                                                            stroke-dashoffset="-87.1122055053711px" stroke="#ffb822">
                                                            <animate attributeName="stroke-dashoffset" id="anim1" dur="1000ms" from="-87.1122055053711px" to="0px" fill="freeze" stroke="#ffb822"
                                                                begin="anim0.end" calcMode="spline" keySplines="0.23 1 0.32 1"
                                                                keyTimes="0;1"></animate>
                                                        </path>
                                                    </g>
                                                    <g class="ct-series custom">
                                                        <path d="M56.75,36.75A43.25,43.25,0,0,0,23.522,107.685" class="ct-slice-donut" ct:value="36" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#716aca&amp;quot;}}"
                                                            style="stroke-width: 17px;" stroke-dasharray="97.98243713378906px 97.98243713378906px"
                                                            stroke-dashoffset="-97.98243713378906px" stroke="#716aca">
                                                            <animate attributeName="stroke-dashoffset" id="anim2" dur="1000ms" from="-97.98243713378906px" to="0px" fill="freeze" stroke="#716aca"
                                                                begin="anim1.end" calcMode="spline" keySplines="0.23 1 0.32 1"
                                                                keyTimes="0;1"></animate>
                                                        </path>
                                                    </g>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="m-widget27__legends">
                                                <div class="m-widget27__legend">
                                                    <span class="m-widget27__legend-bullet m--bg-accent"></span>
                                                    <span class="m-widget27__legend-text"><a href="#" (click)="onService('Business','Pending',$event)"><h6> 37% Pending </h6></a></span>
                                                </div>
                                                <div class="m-widget27__legend">
                                                    <span class="m-widget27__legend-bullet m--bg-warning"></span>
                                                    <span class="m-widget27__legend-text"><a href="#" (click)="onService('Business','Approved',$event)"><h6> 42% Approved </h6></a></span>
                                                </div>
                                                <div class="m-widget27__legend">
                                                    <span class="m-widget27__legend-bullet m--bg-brand"></span>
                                                    <span class="m-widget27__legend-text"><a href="#" (click)="onService('Business','Rejected',$event)"><h6> 19% Rejected </h6></a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end::Tab Content -->
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->


        </div>

        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6">
            <!--begin:: Widgets/Blog-->
            <div class="m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
                <div class="m-portlet__head m-portlet__head--fit-">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div class="col">
                                <h3>Defence</h3>
                            </div>
                            <!-- <div class="col m--align-right">
                                        <div class="btn-group m-btn-group btn-group-sm" role="group" aria-label="...">
                                            <button type="button" class="btn btn-accent">Pending</button>
                                            <button type="button" class="btn btn-warning">Approved</button>
                                            <button type="button" class="btn btn-brand">Rejected</button>
                                        </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget27 m-portlet-fit--sides">
                        <div class="m-widget27__container">

                            <!-- begin::Tab Content -->
                            <div class="m-widget27__tab tab-content m-widget27--no-padding">
                                <div id="m_personal_income_quater_1" class="tab-pane active">
                                    <div class="row  align-items-center">
                                        <div class="col">
                                            <div id="m_chart_personal_income_quater_1" class="m-widget27__chart" style="height: 160px">
                                                
                                                <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-donut" style="width: 100%; height: 100%;">
                                                    <g class="ct-series custom">
                                                        <path d="M95.884,98.415A43.25,43.25,0,0,0,56.75,36.75" class="ct-slice-donut" ct:value="32" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#00c5dc&amp;quot;}}"
                                                            style="stroke-width: 17px;" stroke-dasharray="86.96046447753906px 86.96046447753906px"
                                                            stroke-dashoffset="-86.96046447753906px" stroke="#00c5dc">
                                                            <animate attributeName="stroke-dashoffset" id="anim0" dur="1000ms" from="-86.96046447753906px" to="0px" fill="freeze" stroke="#00c5dc"
                                                                calcMode="spline" keySplines="0.23 1 0.32 1" keyTimes="0;1"></animate>
                                                        </path>
                                                    </g>
                                                    <g class="ct-series custom">
                                                        <path d="M23.425,107.569A43.25,43.25,0,0,0,95.948,98.278" class="ct-slice-donut" ct:value="32" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#ffb822&amp;quot;}}"
                                                            style="stroke-width: 17px;" stroke-dasharray="87.1122055053711px 87.1122055053711px"
                                                            stroke-dashoffset="-87.1122055053711px" stroke="#ffb822">
                                                            <animate attributeName="stroke-dashoffset" id="anim1" dur="1000ms" from="-87.1122055053711px" to="0px" fill="freeze" stroke="#ffb822"
                                                                begin="anim0.end" calcMode="spline" keySplines="0.23 1 0.32 1"
                                                                keyTimes="0;1"></animate>
                                                        </path>
                                                    </g>
                                                    <g class="ct-series custom">
                                                        <path d="M56.75,36.75A43.25,43.25,0,0,0,23.522,107.685" class="ct-slice-donut" ct:value="36" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#716aca&amp;quot;}}"
                                                            style="stroke-width: 17px;" stroke-dasharray="97.98243713378906px 97.98243713378906px"
                                                            stroke-dashoffset="-97.98243713378906px" stroke="#716aca">
                                                            <animate attributeName="stroke-dashoffset" id="anim2" dur="1000ms" from="-97.98243713378906px" to="0px" fill="freeze" stroke="#716aca"
                                                                begin="anim1.end" calcMode="spline" keySplines="0.23 1 0.32 1"
                                                                keyTimes="0;1"></animate>
                                                        </path>
                                                    </g>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="m-widget27__legends">
                                                <div class="m-widget27__legend">
                                                    <span class="m-widget27__legend-bullet m--bg-accent"></span>
                                                    <span class="m-widget27__legend-text"><a href="#" (click)="onService('Defence','Pending',$event)"><h6> 37% Pending </h6></a></span>
                                                </div>
                                                <div class="m-widget27__legend">
                                                    <span class="m-widget27__legend-bullet m--bg-warning"></span>
                                                    <span class="m-widget27__legend-text"><a href="#" (click)="onService('Defence','Approved',$event)"><h6> 42% Approved </h6></a></span>
                                                </div>
                                                <div class="m-widget27__legend">
                                                    <span class="m-widget27__legend-bullet m--bg-brand"></span>
                                                    <span class="m-widget27__legend-text"><a href="#" (click)="onService('Defence','Rejected',$event)"><h6> 19% Rejected </h6></a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end::Tab Content -->
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->


        </div>

        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6">
            <!--begin:: Widgets/Blog-->
            <div class="m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
                <div class="m-portlet__head m-portlet__head--fit-">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div class="col">
                                <h3>Forensic</h3>
                            </div>
                            <!-- <div class="col m--align-right">
                                        <div class="btn-group m-btn-group btn-group-sm" role="group" aria-label="...">
                                            <button type="button" class="btn btn-accent">Pending</button>
                                            <button type="button" class="btn btn-warning">Approved</button>
                                            <button type="button" class="btn btn-brand">Rejected</button>
                                        </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget27 m-portlet-fit--sides">
                        <div class="m-widget27__container">

                            <!-- begin::Tab Content -->
                            <div class="m-widget27__tab tab-content m-widget27--no-padding">
                                <div id="m_personal_income_quater_1" class="tab-pane active">
                                    <div class="row  align-items-center">
                                        <div class="col">
                                            <div id="m_chart_personal_income_quater_1" class="m-widget27__chart" style="height: 160px">
                                                
                                                <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-donut" style="width: 100%; height: 100%;">
                                                    <g class="ct-series custom">
                                                        <path d="M95.884,98.415A43.25,43.25,0,0,0,56.75,36.75" class="ct-slice-donut" ct:value="32" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#00c5dc&amp;quot;}}"
                                                            style="stroke-width: 17px;" stroke-dasharray="86.96046447753906px 86.96046447753906px"
                                                            stroke-dashoffset="-86.96046447753906px" stroke="#00c5dc">
                                                            <animate attributeName="stroke-dashoffset" id="anim0" dur="1000ms" from="-86.96046447753906px" to="0px" fill="freeze" stroke="#00c5dc"
                                                                calcMode="spline" keySplines="0.23 1 0.32 1" keyTimes="0;1"></animate>
                                                        </path>
                                                    </g>
                                                    <g class="ct-series custom">
                                                        <path d="M23.425,107.569A43.25,43.25,0,0,0,95.948,98.278" class="ct-slice-donut" ct:value="32" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#ffb822&amp;quot;}}"
                                                            style="stroke-width: 17px;" stroke-dasharray="87.1122055053711px 87.1122055053711px"
                                                            stroke-dashoffset="-87.1122055053711px" stroke="#ffb822">
                                                            <animate attributeName="stroke-dashoffset" id="anim1" dur="1000ms" from="-87.1122055053711px" to="0px" fill="freeze" stroke="#ffb822"
                                                                begin="anim0.end" calcMode="spline" keySplines="0.23 1 0.32 1"
                                                                keyTimes="0;1"></animate>
                                                        </path>
                                                    </g>
                                                    <g class="ct-series custom">
                                                        <path d="M56.75,36.75A43.25,43.25,0,0,0,23.522,107.685" class="ct-slice-donut" ct:value="36" ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#716aca&amp;quot;}}"
                                                            style="stroke-width: 17px;" stroke-dasharray="97.98243713378906px 97.98243713378906px"
                                                            stroke-dashoffset="-97.98243713378906px" stroke="#716aca">
                                                            <animate attributeName="stroke-dashoffset" id="anim2" dur="1000ms" from="-97.98243713378906px" to="0px" fill="freeze" stroke="#716aca"
                                                                begin="anim1.end" calcMode="spline" keySplines="0.23 1 0.32 1"
                                                                keyTimes="0;1"></animate>
                                                        </path>
                                                    </g>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="m-widget27__legends">
                                                <div class="m-widget27__legend">
                                                    <span class="m-widget27__legend-bullet m--bg-accent"></span>
                                                    <span class="m-widget27__legend-text"><a href="#" (click)="onService('Forensic','Pending',$event)"><h6> 37% Pending </h6></a></span>
                                                </div>
                                                <div class="m-widget27__legend">
                                                    <span class="m-widget27__legend-bullet m--bg-warning"></span>
                                                    <span class="m-widget27__legend-text"><a href="#" (click)="onService('Forensic','Approved',$event)"><h6> 42% Approved </h6></a></span>
                                                </div>
                                                <div class="m-widget27__legend">
                                                    <span class="m-widget27__legend-bullet m--bg-brand"></span>
                                                    <span class="m-widget27__legend-text"><a href="#" (click)="onService('Forensic','Rejected',$event)"><h6> 19% Rejected </h6></a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end::Tab Content -->
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->


        </div>
    </div>
</div>