<!-- style="margin-top: -84px;" -->
<div class="m-grid__item m-grid__item--fluid m-wrapper" style="width:100%!important">

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
        </div>
    </div>

    <div class="row" style="margin-top:15px;">
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6">
            <!--begin:: Widgets/Blog-->
            <div class="m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
                <div class="m-portlet__head m-portlet__head--fit-">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div class="col">
                                <h3>Transport Service</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="min-width: 780px!important;">
                    <div class="m-widget27 m-portlet-fit--sides">
                        <div class="m-widget27__container">

                            <!-- begin::Tab Content -->
                            <div class="m-widget27__tab tab-content m-widget27--no-padding">
                                <div id="m_personal_income_quater_1">
                                    <div class="row  align-items-center">
                                        <a (click)="newRequest($event)" pTooltip="New Requests" tooltipPosition="top" class="btn btn-danger m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--air menuIcon">
                                            <i class="fa fa-user-plus"></i>
                                        </a>
                                        <a href="#" pTooltip="View Status of Requests" tooltipPosition="top" class="btn btn-primary m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--air  menuIcon">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a href="#" pTooltip="View documents" tooltipPosition="top" class="btn btn-info m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--air  menuIcon">
                                            <i class="fa fa-archive"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- end::Tab Content -->
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->


        </div>

        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6">
            <!--begin:: Widgets/Blog-->
            <div class="m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
                <div class="m-portlet__head m-portlet__head--fit-">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div class="col">
                                <h3>Passport Service</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="min-width: 780px!important;">
                    <div class="m-widget27 m-portlet-fit--sides">
                        <div class="m-widget27__container">

                            <!-- begin::Tab Content -->
                            <div class="m-widget27__tab tab-content m-widget27--no-padding">
                                <div id="m_personal_income_quater_2">
                                    <div class="row  align-items-center">
                                        <a href="#" pTooltip="New Requests" tooltipPosition="top" class="btn btn-danger m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--air  menuIcon">
                                            <i class="fa fa-user-plus"></i>
                                        </a>
                                        <a href="#" pTooltip="View Status of Requests" tooltipPosition="top" class="btn btn-primary m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--air  menuIcon">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a href="#" pTooltip="View documents" tooltipPosition="top" class="btn btn-info m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--air  menuIcon">
                                            <i class="fa fa-archive"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- end::Tab Content -->
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->


        </div>

        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6">
            <!--begin:: Widgets/Blog-->
            <div class="m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
                <div class="m-portlet__head m-portlet__head--fit-">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <div class="col">
                                <h3>Driving Licence Service</h3>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="min-width: 780px!important;">
                    <div class="m-widget27 m-portlet-fit--sides">
                        <div class="m-widget27__container">

                            <!-- begin::Tab Content -->
                            <div class="m-widget27__tab tab-content m-widget27--no-padding">
                                <div id="m_personal_income_quater_1">
                                    <div class="row  align-items-center">
                                        <a href="#" pTooltip="New Requests" tooltipPosition="top" class="btn btn-danger m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--air  menuIcon">
                                            <i class="fa fa-user-plus"></i>
                                        </a>
                                        <a href="#" pTooltip="View Status of Requests" tooltipPosition="top" class="btn btn-primary m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--air  menuIcon">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a href="#" pTooltip="View documents" tooltipPosition="top" class="btn btn-info m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--air  menuIcon">
                                            <i class="fa fa-archive"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- end::Tab Content -->
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->


        </div>
    </div>


</div>