<h1 class="heading">From New Transport page!!</h1>
<div class="sidebar"></div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            New Registration Mark Form
                        </h3>
                        <input type="text" [(ngModel)]="data.FirstName" autocomplete="false" class="form-control m-input m-input--square" placeholder="Name">
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            <form class="m-form m-form--fit m-form--label-align-right">
                <div class="m-portlet__body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group m-form__group">
                                <label for="exampleSelect1">Application Type :</label>
                                <select class="form-control m-input m-input--square" id="exampleSelect1">
                                    <option>Individual Applicant</option>
                                    <option>Registered Companies, Corporate Bodies</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group m-form__group">
                                <label for="exampleSelect1">
                                    <div class="form-group m-form__group">
                                        <label for="exampleSelect1">On behalf of someone? :</label>
                                        <select class="form-control m-input m-input--square" id="exampleSelect1">
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="section-title">Applicant Information</h3>
                        <hr class="style1">
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">First Name</label>
                                <input type="text" [(ngModel)]="data.FirstName" autocomplete="false" class="form-control m-input m-input--square" placeholder="Name">
                                <!-- <span class="m-form__help">We'll never share your email with anyone else.</span> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Middle Name</label>
                                <input type="email" [(ngModel)]="data.FirstName" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    placeholder="Enter email">
                                <!-- <span class="m-form__help">We'll never share your email with anyone else.</span> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Family Name</label>
                                <input type="email" [(ngModel)]="data.FirstName" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    placeholder="Enter email">
                                <!-- <span class="m-form__help">We'll never share your email with anyone else.</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Company Name</label>
                                <input type="email" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <!-- <span class="m-form__help">We'll never share your email with anyone else.</span> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Registered Company Number</label>
                                <input type="email" [(ngModel)]="data.FirstName" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    placeholder="Enter email">
                                <!-- <span class="m-form__help">We'll never share your email with anyone else.</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="section-title">Address</h3>
                        <hr/>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Address</label>
                                <input type="email" [(ngModel)]="data.FirstName" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    placeholder="Enter email">
                                <!-- <span class="m-form__help">We'll never share your email with anyone else.</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">State </label>
                                <input type="email" [(ngModel)]="data.FirstName" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    placeholder="Enter email">
                                <!-- <span class="m-form__help">We'll never share your email with anyone else.</span> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Town/Village </label>
                                <input type="email" [(ngModel)]="data.FirstName" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    placeholder="Enter email">
                                <!-- <span class="m-form__help">We'll never share your email with anyone else.</span> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">City </label>
                                <input type="email" [(ngModel)]="data.FirstName" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    placeholder="Enter email">
                                <!-- <span class="m-form__help">We'll never share your email with anyone else.</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Country Of Residence </label>
                                <input type="email" [(ngModel)]="data.FirstName" [(ngModel)]="data.FirstName" class="form-control m-input m-input--square"
                                    id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <!-- <span class="m-form__help">We'll never share your email with anyone else.</span> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Phone Number </label>
                                <input type="email" [(ngModel)]="data.FirstName" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    placeholder="Enter email">
                                <!-- <span class="m-form__help">We'll never share your email with anyone else.</span> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Mobile Number </label>
                                <input type="email" [(ngModel)]="data.FirstName" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    placeholder="Enter email">
                                <!-- <span class="m-form__help">We'll never share your email with anyone else.</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br>
                        <h3 class="section-title">Registration Mark</h3>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Registration Mark Applied For </label>
                                <input type="email" [(ngModel)]="data.FirstName" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    placeholder="Enter email">
                                <!-- <span class="m-form__help">We'll never share your email with anyone else.</span> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Insert NYP for vehicle not yet purchased </label>
                                <input type="email" [(ngModel)]="data.FirstName" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    placeholder="Enter email">
                                <!-- <span class="m-form__help">We'll never share your email with anyone else.</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Captcha </label>
                                <input type="email" [(ngModel)]="data.FirstName" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    placeholder="Enter email">
                                <span class="m-form__help">We'll never share your email with anyone else.</span>
                            </div>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <button type="reset" class="btn btn-success">Submit</button>
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
    <div class="col-md-1"></div>
</div>