<div class="Innerpage_content bg-white Registration-mark">
    <div class="cont1450 sidespace">
        <div class="inner-title">Application for Specific Registration Mark</div>
        <div class="inner-sub-title">E-Services</div>
        <div class="cnWrapper sidespace">
            <div class="Registration-form">
                <form role="form" [formGroup]="TransportForm" (ngSubmit)="onSubmit(TransportForm)">
                    <div class="form-row">
                        <div class="col12">
                            <div class="col6">
                                <label>Applicant Type
                                    <span class="requiredMark">*</span>
                                </label>
                                <select formControlName="ApplicatType" name="Applicant_Type form-control" (change)="onSelect($event.target.value)" class="Applicant_Type">
                                    <option *ngFor="let type of ApplicantType" value={{type}}>{{type}}</option>
                                </select>
                            </div>
                            <div class="col6">
                                <div class="col6">
                                    <label>On behalf of someone?</label>
                                    <select formControlName="OnBehalf" name="Applicant_Type form-control" (change)="onSelectOnBehalf($event.target.value)" class="Applicant_Type">
                                        <option *ngFor="let _value of OnBehalfValues" value={{_value}}>{{_value}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="onApplicationTypeFlag" class="col6">
                            <label>Company Name</label>
                            <input type="text" id="txtCompanyName" maxlength="50" formControlName="CompanyName" class="form-control" value="" placeholder="Max length 50 charecters"
                            />
                        </div>

                        <div *ngIf="onApplicationTypeFlag" class="col6">
                            <label>Company Number</label>
                            <input type="text" formControlName="CompanyNumber" id="txtCompanyNumber" maxlength="50" value="" class="form-control" placeholder="Max length 50 charecters"
                            />
                        </div>

                        <div class="col6">
                            <label>First Name
                                <span class="requiredMark">*</span>
                            </label>
                            <input type="text" id="txtFirstName" maxlength="50" formControlName="FirstName" [readonly]="!onBehalfFlag" class="form-control"
                                value="" placeholder="Max length50 charecters" />
                            <div class="valmsg" *ngIf="TransportForm.get('FirstName').hasError('required') && submitFail">
                                First name required !
                            </div>
                        </div>

                        <div class="col6">
                            <label>Family Name
                                <span class="requiredMark">*</span>
                            </label>
                            <input type="text" formControlName="FamilyName" id="txtFamilyName" maxlength="50" [readonly]="!onBehalfFlag" class="form-control"
                                placeholder="Max length 50 charecters" value="" />
                            <div class="valmsg" *ngIf="TransportForm.get('FamilyName').hasError('required') && submitFail">
                                Family name required !
                            </div>
                        </div>

                        <div class="col12">
                            <div class="col6">
                                <label>NIC Number / Passport Number</label>
                                <input type="text" formControlName="NIC" id="txtNIC" [readonly]="!onBehalfFlag" maxlength="15" placeholder="Max length 15 charecters"
                                    value="" />
                            </div>
                        </div>

                        <div class="col12">
                            <label>Address
                                <span class="requiredMark">*</span>
                            </label>
                            <input formControlName="Address" id="txtAddress" type="text" [readonly]="!onBehalfFlag" maxlength="250" value="" placeholder="Max length 250 charecters"
                            />
                            <div class="valmsg" *ngIf="TransportForm.get('Address').hasError('required') && submitFail">
                                Address required !
                            </div>
                        </div>

                        <div class="col6">
                            <label>City</label>
                            <input formControlName="City" id="txtCity" type="text" [readonly]="!onBehalfFlag" maxlength="50" value="" placeholder="Max length 50 charecters"
                            />
                        </div>

                        <div class="col6">
                            <label>Country of Residence
                                <span class="requiredMark">*</span>
                            </label>
                            <input formControlName="ContryOfResidence" id="txtContryOfResidence" type="text" [readonly]="!onBehalfFlag" value="" maxlength="50"
                                placeholder="Max length 50 charecters" />
                            <div class="valmsg" *ngIf="TransportForm.get('ContryOfResidence').hasError('required') && submitFail">
                                Contry Of Residence required !
                            </div>
                        </div>

                        <div class="col6">
                            <label>Phone number</label>
                            <!-- <input placeholder="Phone Number  230-9999999" /> -->
                            <p-inputMask formControlName="PhoneNumber" id="txtPhNumber" type="text" [readonly]="!onBehalfFlag" maxlength="11" value=""
                                mask="999-9999999" placeholder="Eg. 230-9999999"></p-inputMask>
                        </div>

                        <div class="col6">
                            <label>Mobile Number</label>
                            <!-- <input  /> -->
                            <p-inputMask formControlName="username" mask="999-9-9999999" formControlName="MobileNumber" id="txtMobileNumber" [readonly]="!onBehalfFlag"
                                maxlength="13" value="" placeholder="Eg. 230-5-9999999"></p-inputMask>
                        </div>

                        <div class="col12">
                            <label>Registration Mark Applied For
                                <span class="requiredMark">*</span>
                            </label>
                            <input formControlName="RegistrationNumber" id="txtRegistrationNumber" type="text" maxlength="250" value="" placeholder="Should be as per rule A1-A2500 OR AA1-AA2500 Eg. 'BC1952'"
                            />
                            <div class="valmsg" *ngIf="TransportForm.get('RegistrationNumber').hasError('required') && submitFail">
                                Registration Number required !
                            </div>
                        </div>

                        <div class="col12">
                            <label>Insert NYP for vehicle not yet purchased
                                <span class="requiredMark">*</span>
                            </label>
                            <input formControlName="NYP" id="txtNYP" type="text" maxlength="50" value="" placeholder="Max length 50 charecters" />
                            <div class="valmsg" *ngIf="TransportForm.get('NYP').hasError('required') && submitFail">
                                NYP required !
                            </div>
                        </div>
                        <div class="col12">
                            <label>Captcha
                                <span class="requiredMark">*</span>
                            </label>
                            <div class="valmsg">
                                Invalid captcha try agin !
                            </div>
                            <p-captcha siteKey={{sitekey}} id="txtCaptcha" (onResponse)="showResponse($event)"></p-captcha>
                        </div>

                        <div class="col12">
                            <input type="submit" value="Save Data" />
                            <button type="reset" (click)="back()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>