/* You can add global styles to this file, and also import other style files */
.helpSP{
    margin: 0px 0px 0px 0px;
}
.helpSPF{
    margin: 1px 0px 0px 0px;
}
.helpSPFx{
    margin: 2px 0px 0px 0px;
}
