/* You can add global styles to this file, and also import other style files */
.helpSP{
    margin: 0px 0px 0px 0px;
}
.helpSPF{
    margin: 1px 0px 0px 0px;
}
.helpSPFx{
    margin: 2px 0px 0px 0px;
}
#sideNavBox {float: left !important;margin-left: 20px !important;margin-right: 20px !important;width: 180px !important;display: none !important;}#contentBox {margin-left: 29px !important;}#s4-titlerow {display: none !important}.ms-webpart-chrome-title {display: none !important;}
#s4-ribbonrow {
    display: none !important;
}
#suiteBar {
    display: none !important;
}
.bodyContainer{
    /*DEV*/
    margin-top: -21px!important;
    margin-left: -30px!important;
    /*UAT*/
    /* margin-top: -79px!important;
    margin-left: -90px!important; */
    /*local*/
    /* margin-top: 0px!important;
    margin-left: 0px!important; */
}
#suiteBarTop{
    display: none !important;
}
::placeholder {
    color: #c5c5c5bf;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c5c5c5bf;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #c5c5c5bf;
}